@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* MAIN */
.home {
  flex: 1;
  background-color: black;
  overflow: hidden;
  padding-right: 7px;
  padding-bottom: 20px;
  position: relative;
}



/* HEADER OF THE HOME */
.home-header {
  display: flex;
  justify-content: end;
  background-color: rgba(151, 134, 134, 0.187);
  width: 100%;
  height: 10%;
  border-radius: 10px;
}
/* CREATE ACCOUNT DIV  */
.create-account {
  display: none;
}

.create-account.active {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}
/* USER INFO CONTAINER */
.user-info {
  display: none;
}
.user-info.active {
  margin-top: 7px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(42, 165, 89);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.user-initials {
  color: rgb(212, 205, 205);
  font-family: "Roboto Mono", monospace;
}

/* SIGN UP AND SIGN IN DIVS */
.sign-up,
.log-in {
  background-color: rgb(254, 252, 252);
  border-radius: 25px;
  width: 100px;
  height: 50px;
  border: none;
  color: rgb(54, 53, 53);
  font-size: 15px;
}
.sign-up:hover,
.log-in:hover {
  cursor: pointer;
  background-color: rgb(240, 238, 238);
  width: 101px;
  height: 51px;
}
