/* SIDE BAR */
.side-bar {
  min-width: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

.side-bar.resizing {
  cursor: ew-resize;
  border-right: 2px solid white;
}
/* UPPER SIDE BAR */
.upper-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 15%;
  background-color: rgba(151, 134, 134, 0.187);
  margin: 0px 5px;
  border-radius: 10px;
}
/* LOWER SIDE BAR */
.lower-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 10px;
  height: 85%;
  background-color: rgba(151, 134, 134, 0.187);
  margin: 0px 5px;
  border-radius: 10px;
}
/* SPOTIFY LOGO */
.spotify-logo {
  margin-bottom: 20px;
  display: flex;
  gap: 3px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.fa-spotify {
  font-size: 30px;
}
/* PLAYLIST AND FAVORITE ICONS CONTAINER */
.saving-songs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* CONTAINER OF THE ICONS */
.icon-subtitles {
  display: flex;
  gap: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}
/* HOVER:CONTAINER OF THE ICONS */
.icon-subtitles:hover span {
  color: rgb(248, 245, 245);
}
/* ICONS */
.icon-subtitles i {
  font-size: 25px;
}
.icon-subtitles a {
  text-decoration: none;
}
/* SUBTITLE OF THE ICONS */
.icon-subtitles span {
  font-size: 20px;
  color: rgb(159, 158, 155);
}

/* LOGOUT MODAL  */
.logout-modal,
.authenticate-modal {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* LOGOUT MODAL HEADER */
.logout-modal-content,
.auth-modal-content {
  width: 350px;
  height: 120px;
  border: 3px solid rgba(0, 0, 0, 0.381);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
/* LOGOUT MODAL BODY  */
.logout-modal-body,
.auth-modal-body {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
/* LOGOUT MODAL BUTTONS */
.logout-modal-body button,
.auth-modal-body button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 165, 89);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* MEDIA QUERIES */
/*  PHONES AND LARGE TABLETS  */
@media (max-width: 600px) {
  .side-bar {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .logout-modal-content {
    width: 300px;
  }
  .logout-modal-header{
    font-size: 15px;
  }
}
