
/* IMAGE CONTAINER */
.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* IMAGE */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ARTIST CONTAINER  */
.artist-info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 10px;
}
/* ARTIST NAME */
.artist-name-header {
  font-size: 3.5rem;
  color: white;
}
/* ARTIST VERIFICATION */
.artist-verification {
  display: flex;
  align-items: center;
  margin-top: 7px;
  gap: 7px;
}
.artist-verification img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* SONGS CONTAINER */
.songs-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  overflow-y: scroll;
  background-color: rgba(151, 134, 134, 0.187);
}
.songs-container::-webkit-scrollbar {
  width: 0px;
}
/* POPULAR SONGS */
.popular-songs {
  margin: 5px 0px 25px 15px;
}
